.hero-services {
    position: relative;
    max-height: 50vh;
    overflow: hidden;


    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 50vh;
        background-color: rgba(var(--color-quinary-rgb), .7);
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: 820px) {
            max-height: 35vh;
        }
    }

    @media (min-width: 820px) {
        max-height: 35vh;
    }
}

.hero-services__figure {
    height: 50vh;

    @media (min-width: 820px) {
        max-height: 35vh;
    }

    img {
        object-fit: cover;
    }

    figcaption {
        width: 100%;
        padding: 3rem var(--padding-90);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1100;
        color: var(--color-white-full);

        p {
            font-size: 1.3rem;

            @media (min-width: 992px) {
                font-size: 1.5rem;
            }
        }
    }
}




.banner-services {
    background-color: var(--color-secondary);
    color: var(--color-quinary);
    text-align: center;

    h2 {
        font-family: var(--font-playfair-boldItalic);
        padding: 2rem 0 0 0;
        font-size: 5rem;
        text-shadow: .2rem 0 0 var(--color-primary);


        @media (min-width: 820px) {
            max-height: 35vh;
            font-size: 5.5rem;

        }
    }

}

.banner-figure {
    height: 5rem;
    overflow: hidden;

    @media (min-width: 768px) {
        height: 8rem;
    }

    @media (min-width: 1024px) {
        height: 10rem;
    }
}

/* MAIN CONTENT */

.main-services {
    /* background-color: blue; */
    /* width: 90%; */
    /* padding: 0 var(--padding-85); */
    width: 85%;
    margin: 0 auto;
    max-width: 140rem;

    @media (min-width: 1024px) {
        width: 80%;
        max-width: 145rem;

    }

}

.main-services__title {
    width: 80%;
    margin: 0 auto;
    font-family: var(--font-satisfy-regular);
    text-align: center;
    color: var(--color-quinary);
    text-shadow: .1rem 0 0 var(--color-senary);

    @media (min-width: 992px) {
        font-size: 3rem;
        width: 90%;
    }
}


.main-services__subtitle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-quinary);
    font-size: 1.3rem;
    margin-top: 2rem;

    @media (min-width: 992px) {
        font-size: 1.4rem;
        width: 90%;
    }
}

.service-container-extras {
    /* width: 90%; */
    margin: 5rem auto;

    @media (min-width: 992px) {
        /* width: 80%; */
    }
}





.service-description-info {
    /* min-height: 50vh; */
    /* width: 90%; */
    /* margin: 5rem auto; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: rgba(var(--color-secondary-rgb), .4);
    border-radius: .3rem;

    /* @media (min-width: 1024px) {
        width: 80%;
    } */


    article {
        h3 {
            font-family: var(--font-playfair-boldItalic);
            text-shadow: .1rem 0 0 var(--color-senary);

            font-size: 2.5rem;

        }

        p {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            color: var(--color-quinary);
        }

        strong {
            color: var(--color-senary);
        }
    }
}

.services-extras {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;

    figure {
        max-width: 90%;

        @media (min-width: 768px) {
            max-width: 45%;
        }

        img {
            height: 20rem;
            /* max-width: 30rem;  */
        }

        figcaption {
            margin-top: 1.5rem;
            color: var(--color-quinary);

            ul li {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;

    }
}



.services-details {
    /* width: 90%; */
    margin: 5rem auto;

    @media (min-width: 992px) {
        /* width: 80%; */
    }
}

.services-details__ul {
    margin-top: 1rem;
    color: var(--color-quinary);

    li {

        margin-bottom: 1rem;
    }

    li figure {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.note-info {
    padding-bottom: .6rem;
    color: var(--color-dark-full) !important;
    border-bottom: .1rem solid var(--color-dark-full);
}