.main-gallery-layout {
    /* position: relative; */
}

.figure-bg-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(.2rem);

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(rgba(var(--color-primary-rgb), .8), rgba(var(--color-tertiary-rgb), .9));
        pointer-events: none;
    }
}

.gallery-title {
    font-family: var(--font-playfair-boldItalic);
    color: var(--color-quinary);
    background-color: var(--color-primary);
    width: 100%;
    margin-top: -2rem;
    padding: 4rem 0 1rem 0;
    text-align: center;
    font-size: 4.5rem;
    text-shadow: .2rem 0 0 var(--color-secondary);


    @media (min-width: 640px) {
        font-size: 4.8rem;
    }

    @media (min-width: 820px) {
        max-height: 35vh;
        font-size: 5rem;

    }
}

.title-gallery-layout {
    background-color: var(--color-primary);
    width: 100%;
    height: 4.5rem;
    margin-top: -.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


.subtitle-gallery-layout {
    width: 80%;
    color: var(--color-dark);
    font-family: var(--font-playfair-italic);
    font-size: 1.9rem;
    margin: 2rem auto 4rem auto;
    text-align: center;

}