.footer-info {
    padding: 2rem var(--padding-90);
    background-color: var(--color-quinary);
}

.footer-logo {
    width: 50%;
    max-width: 25rem;
    height: 10rem;
    margin: auto;
}

.footer-bann {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-playfair-boldItalic);

}

.footer-social {
    display: flex;
    justify-content: center;

    li:hover {
        transform: scale(.90);
    }

    img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
    }

    @media (min-width: 1024px) {
        img{
            margin-right: 2rem;
        }
    }
}


.copy {
    padding: 1rem var(--padding-90);
    background-color: var(--color-dark-full);
    color: var(--color-secondary);

    a,
    p {
        font-size: 1.1rem !important;
    }

    font-family: var(--font-playfair-italic);
    text-align: center;


    @media (min-width: 992px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }

    @media (min-width: 1024px) {
        padding: 1rem var(--padding-95);

        a,
        p {
            font-size: 1rem !important;
        }
    }

}

.copy-reserved {
    text-align: left;
}

.copy-politics ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    margin-top: .5rem;

    li a {
        padding-bottom: .5rem;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid var(--color-secondary);
        }
    }

    @media (min-width: 992px) {
        margin-top: 0;
    }
}