/* CLASES PARA EL TAB DE 'CONTÁCTANOS' */

/* CLASES PARA EL TAB DE 'RESERVA' */










/* CLASES EN    COMUN */

.buttons-form {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 468px) {
        flex-direction: row;
        justify-content: space-around;
    }



    button {
        padding: .7rem .5rem;
        font-size: 1.6rem;
        border-radius: .4rem;
        color: var(--color-primary);
        display: flex;
        gap: .5rem;
        align-items: center;

        &:hover {
            transform: scale(1.05);
        }
    }

    .send-btn-form {
        margin-bottom: 2rem;
        border: .1rem solid var(--color-primary);
        background-color: rgba(var(--color-senary-rgb), .5);

        @media (min-width: 468px) {
            margin-bottom: 0;
        }
    }

    .cancel-btn-form {
        background-color: rgba(var(--color-quinary-rgb), .6);
        border: .1rem solid var(--color-quinary);
    }
}

.error-msg-container {
    width: 100%;
    text-align: end;
}

.error-msg-text {
    display: inline-block;
    color: var(--color-primary);
    background-color: rgb(133, 45, 45);
    padding: .5rem;
    border-radius: .3rem;
    margin-bottom: .5rem;
    text-align: end;
    font-size: 1.2rem;
}