.gallery-carousel-container {
    /* height: 60vh; */
    width: 90%;
    margin: 3rem auto;

    .image-gallery-slides {
        /* height: 60vh; */
        box-shadow: 0 0 2rem .5rem rgba(var(--color-quinary-rgb), .7);
    }

    .image-gallery-image {
        /* LIBRERÍA */
        height: 70vh;
        object-fit: cover;
        padding: 1.5rem;
        background: var(--color-white-full);



        @media (min-width: 1024px) {
            height: auto;
        }

        @media (min-width: 1024px) and (min-height: 1300px) {
            height: 80vh;


        }
    }

    .image-gallery-thumbnail.active,
    .image-gallery-thumbnail:focus {
        /* GALERIA */
        border: .4rem solid var(--color-primary);
        border-radius: 1rem;
        overflow: hidden;

        & img {
            object-fit: contain;
            filter: brightness(.4);

        }

    }

    .image-gallery-left-nav,
    .image-gallery-right-nav {
        &:hover {
            transform: scale(0);
        }
    }

}