.header-container {
    width: 100%;
    height: 7.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;

    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--padding-90);
        box-shadow: 0 0 .8rem rgba(0, 0, 0, .5);

    }
}

.header-opacity {
    background-color: rgba(var(--color-quinary-rgb), .4);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}

.header-color {
    background-color: rgba(var(--color-quinary-rgb), .9);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;

}

.logo-hamb_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem var(--padding-95);

}

.h-logo_container {
    width: 13rem;
    height: 6.5rem;
}

/* NAV MOBILE */

.nav-container__mobile {
    background-color: var(--color-dark-full);
    padding: 2rem 1rem;
    /* margin-top: 7rem; */
    height: calc(100vh - 7rem);
    overflow: auto;

    @media (min-width: 1024px) {
        display: none;
    }

}

.hamburguer-menu {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    &:hover {
        transform: scale(.90);
    }

    span {
        display: block;
        width: 90%;
        height: .5rem;
        background-color: var(--color-primary);
        border-radius: .3rem;
    }

    @media (min-width: 1024px) {
        display: none;
    }
}

.main-nav {
    a {
        font-family: var(--font-playfair-boldItalic);
        color: var(--color-primary) !important;
        font-size: 1.6rem;
    }

    .h-links_container {

        .link-item {
            display: block;
            position: relative;
            padding: 1rem var(--padding-90);
            transition: color 0.3s ease;
            cursor: pointer;

        }

        .link-item_sub {
            padding: 1rem var(--padding-80);

            @media (min-width: 768px) {
                padding: 1rem var(--padding-85);
            }
        }

        .link-item::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            z-index: 1000;
            height: 2px;
            background-color: var(--color-senary);
            box-shadow: 0 0 .5rem var(--color-senary);
            transition: width 0.3s ease;
        }

        a:hover::after {
            width: 90%;
        }

        a:hover {
            color: var(--color-senary) !important;
        }

    }
}

.section-nav-title {
    margin-top: .5rem;
    background-color: var(--color-quinary);
    padding: 1rem .5rem;
    font-size: 1.5rem;
    color: var(--color-white-full);
}

/* NAV DESKTOP */
.nav_container__desktop {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
    }
}

.ul-container {
    display: flex;
    position: relative;
    gap: 2.5rem;
    align-items: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
}



/* DROPDOWN */
.drop-title {
    font-size: 1.6rem !important;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 0;
        /* z-index: 1; */
        height: 2px;
        background-color: var(--color-primary);
        box-shadow: 0 0 .5rem var(--color-senary);
        transition: width 0.3s ease;
    }

    &:hover::after {
        width: 90%;
    }
}

.drop-content {
    position: absolute;
    top: 3rem;
    z-index: 1000;
    background-color: var(--color-secondary);
    border-radius: .3rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .3);
    /* display: none; */
}

.drop-contact {
    li {
        margin-bottom: 1rem;
    }

    a {
        color: var(--color-primary);
        padding-bottom: .5rem;
        border-bottom: .2rem solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-quinary);
            border-bottom: .2rem solid var(--color-quinary);
            transition: all 0.3s ease-in-out;
            /* font-size: 1.8rem; */
        }
    }
}

.box-services {
    background-color: rgb(40, 42, 53);

    a {
        color: var(--color-primary);
        padding-bottom: .5rem;
        border-bottom: .2rem solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-quinary);
            border-bottom: .2rem solid var(--color-quinary);
            transition: all 0.3s ease-in-out;
            /* font-size: 1.8rem; */
        }
    }
}

.boxlist-services {
    background-color: rgb(40, 42, 53);


    .boxlist-container {
        display: flex;
        justify-content: space-between;

        .boxlist-title-section {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1rem;
            color: var(--color-tertiary);
        }

        .boxlist-list {
            display: flex;

        }

        .boxlist-lists {
            padding: 0 1rem;
            border-right: .1rem solid var(--color-secondary);
        }

        .boxlist-container__ul {

            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-width: 14rem;

            @media (min-width: 1280px) {
                max-width: 16rem;
            }

            /* padding: 1rem; */

            li {
                width: 100%;
            }

            li a {
                display: block;
                width: 100%;
                font-size: 1.4rem;
                font-family: var(--font-playfair-boldItalic);
                color: var(--color-secondary);
                border-bottom: .2rem solid transparent;
                transition: all 0.3s ease-in-out;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: var(--color-senary);
                    border-bottom: .2rem solid var(--color-senary);
                    transition: all 0.3s ease-in-out;
                }
            }
        }

    }
}


.box-gallery {
    background-color: rgb(40, 42, 53);

    .drop-item-li {
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
    }

    .drop-item-li a {
        color: var(--color-secondary);
        padding-bottom: .5rem;
        border-bottom: .2rem solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-senary);
            border-bottom: .2rem solid var(--color-senary);
            transition: all 0.3s ease-in-out;
        }
    }
}

.box-content {
    position: absolute;
    left: -30%;
    top: 3rem;
    max-width: 50rem;
    padding: 1rem;
    display: flex;
    border-radius: .3rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .3);

    figure {
        width: 40rem;
        height: 15rem;
        border-radius: .3rem;
        overflow: hidden;
    }

    ul {

        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
    }

    a {
        padding-bottom: .5rem;
        font-family: var(--font-playfair-boldItalic);
    }
}

.boxlist-content {
    position: absolute;
    /* left: -67%; */
    right: 0;
    top: 3rem;

    padding: 1rem;
    display: flex;
    border-radius: .3rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .3);

    figure {
        width: 18rem;
        min-width: 18rem;
        max-width: 18rem;
        height: auto;
        border-radius: .3rem;
        overflow: hidden;
        margin-right: 1rem;
    }


}


.drop-title {
    cursor: pointer;
    color: var(--color-primary);
}





.hidden-drop {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

}

.visible-drop {
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: visible;
    transition: all 0.2s ease-in-out;

}

.see-more-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: .5rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, .3);

    &:hover {
        transform: scale(1) !important;
        background-color: rgba(0, 0, 0, .8);
    }
}




/* MENU MOBILE */
.hidden-menu {
    visibility: hidden;
    transform: translatey(105%);
    transition: all 0.3s ease-in-out;
}

.visible-menu {
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}