---
import LayoutServices from "@layouts/LayoutServices.astro";
import "@styles/pages/services/weddings.css";
import { Tab, TabItem } from "free-astro-components";
---

<LayoutServices
    pageTitle="Bodas"
    heroImage="/img/boda-one.jpg"
    bannerTitle=`"Historias de amor capturadas para siempre"`
    bannerSubtitle=`La fotografía es la única forma de detener el tiempo sin que el
            momento pierda su latido; capturamos el hoy para que vuestro
            'siempre' sea inolvidable.`
    detailsInfo={[
        "80 Fotografías dígitales",
        "Sesión de Preboda y Después de la boda: Una hora u hora y media c/u",
        "Álbum con 50 fotografías",
        "Una fotografia en marco de 30 * 40 cm",
        "Tiempo de entrega: Entre 1 a 3 meses",
        "Sesión de la boda: Desde el inicio hasta las 10pm",
    ]}
    ]}
>
    <Tab
        tabs={[{ label: "Bodas", active: true }, { label: "Postbodas" }]}
        class={`tab-component`}
    >
        <TabItem active class={``}>
            <section class="service-wedding-info">
                <article>
                    <h4>Antes de la boda</h4>
                    <p>
                        Sesión de <strong
                            >10 fotografías dígitales en tu hogar o en nuestro
                            estudio</strong
                        >, con duración de una hora.
                    </p>
                    <p>
                        Más que simplemente tomar fotos, es una manera de
                        conocernos, una forma de romper el hielo y quitarnos de
                        la tención frente a la cámara y que todo fluya excelente
                        el día de tu boda.
                    </p>
                </article>

                <article>
                    <h4>¡El día de tu boda!</h4>
                    <p>
                        Es un día muy emotivo para vosotros, y para mí también.
                        Empezaremos los preparativos en las respectivas casas
                        aproximadamente una hora con cada uno de vosotros. A
                        partir de ahí, estaré presente en todo el evento, desde
                        la ceremonia hasta el momento fiesta (media hora máximo)
                        hasta que captemos a la gente bailando y disfrutando del
                        momento.
                    </p>
                    <p>
                        A partir de ahí, estaré presente en todo el evento,
                        desde la ceremonia hasta el momento fiesta (media hora
                        máximo) hasta que captemos a la gente bailando y
                        disfrutando del momento.
                    </p>
                </article>

                <article>
                    <h4>Después de la boda</h4>
                    <p>
                        Después de vivir uno de los días más especiales de
                        vuestra vida, si te has quedado con ganas de lucir
                        vestidazo de novio o novia llega el momento de hacer la
                        sesión de postboda en el lugar que siempre habías
                        soñado.
                    </p>
                    <p>
                        Sesión de <strong
                            >10 fotografías dígitales en tu hogar o en nuestro
                            estudio</strong
                        >, con duración de una hora.
                    </p>
                </article>
            </section>

            <section class="service-container-extras" slot="deliverables">
                <h3>Entregables</h3>
                <div class="services-extras">
                    <figure>
                        <img
                            src="/img/boda-two.jpg"
                            alt="Imagen ilustrativa de un album fotografico"
                        />
                        <figcaption>
                            <p>- Tamaño del álbum de 40 x 30 cm</p>
                            <p>- 50 fotografías</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <img
                            src="/img/wedding-three.jpg"
                            alt="Imagen ilustrativa de un album fotografico"
                        />
                        <figcaption>
                            <p>- Una fotografía de tu elección con su marco</p>
                        </figcaption>
                    </figure>
                </div>
            </section>
        </TabItem>
    </Tab>
</LayoutServices>

<!-- <ServiceLayout deliverables={<section class="service-container-extras">Deliverables aquí</section>}>
  <section>Contenido principal</section>
</ServiceLayout> -->
