.contact-main-page {
    background: linear-gradient(rgba(var(--color-quinary-rgb), .6), rgba(var(--color-senary-rgb), .7)), url('/img/bg-contact.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.contact-title-page {
    h2 {


        font-family: var(--font-playfair-boldItalic);
        color: var(--color-primary);
        width: 100%;
        text-align: center;
        font-size: 4.5rem;
        text-shadow: .3rem 0 0 var(--color-secondary);


        @media (min-width: 640px) {
            font-size: 4.8rem;
        }

        @media (min-width: 820px) {
            max-height: 35vh;
            font-size: 5rem;

        }
    }

    p {
        width: 80%;
        margin: 2rem auto 0 auto;
        text-align: center;
        font-size: 1.6rem;
        color: var(--color-primary);
        text-align: center;
    }

}


.contact-page-content {

    width: 85%;
    margin: 0 auto;
    padding: 4rem 0;
    /* min-height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;


    @media (min-width: 1200px) {
        flex-direction: row;
        width: 90%;
        max-width: 150rem;
        gap: 0;
        /* gap: 1rem; */
    }
}

.location-figure {
    order: 1;
    width: 100%;
    max-width: 60rem;
    margin: 1rem auto 2rem auto;
    border-radius: .5rem;
    overflow: hidden;
    background-color: var(--color-tertiary);
    padding: 1rem;

    @media (min-width: 1024px) {
        /* width: 70%; */
        min-height: 60vh;
        /* max-height: 60rem; */
        margin: 0;
    }

    @media (min-width: 1200px) {
        max-width: 50rem;
        order: 0;

    }

    img {
        width: 100%;
        height: inherit;
        min-height: 60vh;
        max-height: 60rem;
        object-fit: cover;
    }
}


.tabs-contact-container {
    width: 100%;
    max-width: 60rem;
    background: rgba(var(--color-senary-rgb), .1);
    backdrop-filter: blur(1rem);
    border: .1rem solid var(--color-primary);
    /* padding: 1rem; */


    @media (min-width: 1200px) {
        max-width: 55rem;
    }

    @media (min-width: 1024px) {
        /* width: 70%; */
        min-height: 50vh;
        /* max-height: 60rem; */

    }
}

.form-contact-container {

    .label-check {
        display: flex;
        align-items: center;
        gap: .8rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }

    .check-class {
        /* margin-top: 1rem; */
        margin-left: .5rem;
        font-size: 1.4rem;
        color: var(--color-primary);

    }

    h2 {
        text-align: end;
        color: var(--color-primary);
        font-family: var(--font-playfair-boldItalic);
    }


    label {
        color: var(--color-primary);
        margin-bottom: .5rem;
    }

    input {
        margin-bottom: 2rem;


    }

    select {
        /* color: var(--color-primary) !important; */
        margin-bottom: 3rem;


        option {
            color: var(--color-quinary);
            font-size: 1.9rem !important;
        }
    }

}

.form-content {
    width: 80%;
    margin: 0 auto;
}

/* CLASES PARA TABS */
.tabs-container {
    position: relative;
    overflow: hidden;
    min-height: inherit;

}

.tabs-content {
    position: relative;


}

.tabs-titles {
    display: flex;
    justify-content: flex-start;
    list-style: none !important;
    /* gap: 1rem; */
    border-bottom: .2rem solid var(--color-primary);
    width: 95%;
    margin: 0 auto 1rem auto;



    .tab-title {
        transition: all .3s ease-in-out;

        &:hover {
            background-color: rgba(var(--color-secondary-rgb), .4);
            transition: all .3s ease-in-out;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            font-family: var(--font-playfair-boldItalic);
            font-size: 2rem !important;
            color: var(--color-primary);
            padding: 1.5rem;
            text-align: center;


        }
    }

}


.tab-selected {
    background-color: rgba(var(--color-senary-rgb), .8);

}


.hidden-tab {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(105%);
    /* opacity: 0;
    height: 0;
    width: 0; */
    transition: all 0.3s ease-in-out;
}

.visible-tab {
    visibility: visible;
    transform: translateX(0);
    /* opacity: 1;
    height: auto;
    width: 100%; */
    transition: all 0.3s ease-in-out;
}