.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);

    &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-quinary-rgb), .3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}


.swiper-hero {
    width: 100%;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;

    img {
        object-fit: cover;
    }
}

.hero-text {
    position: absolute;
    z-index: 1500;
    top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    font-family: var(--font-playfair-boldItalic);

    div {
        text-align: center;
        background-color: rgba(var(--color-quaternary-rgb), .5);
        padding: 2rem;
        border-radius: .3rem;
        width: 90%;
        text-shadow: .3rem 0 0 rgba(var(--color-primary-rgb), 1);
    }


    h2 {
        font-size: 5rem !important;
    }

    p {
        font-size: 2rem;

    }

    @media (min-width: 768px) {
        h2 {
            font-size: 6rem !important;
        }
    }

    @media (min-width: 1024px) {
        div {
            width: auto;
        }

        h2 {
            font-size: 7rem !important;
        }

    }

}

/* SECTION BANNER */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 10rem var(--padding-90);

    @media (min-width: 1024px) {
        padding: 10rem var(--padding-85);
    }
}

.bann-title {
    font-size: 3rem;
    color: var(--color-quinary);
    text-align: center;
    font-family: var(--font-playfair-boldItalic);
}

.bann-img {
    margin-top: 3rem;

    figcaption {
        margin-top: 3rem;

        p {
            width: 80%;
            margin: auto;
            text-align: start;
            line-height: 2;
        }
    }


    @media (min-width: 768px) {
        figcaption {
            p {
                font-size: 1.7rem;
            }
        }
    }

    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        img {
            width: 30%;
            height: auto;
            border-radius: .5rem;
        }

        figcaption p {
            font-size: 1.5rem;
            margin-top: 1rem;
            text-align: center;
            color: var(--color-quinary);
        }
    }
}