.main-service-page {

    background: linear-gradient(rgba(var(--color-secondary-rgb), 0.9), rgba(var(--color-tertiary-rgb), 0.9)),
        url('/img/studio-one.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.service-title-page {
    color: var(--color-quinary);
    text-shadow: .2rem 0 0 var(--color-primary);
    border-bottom: .2rem solid var(--color-primary);
}

.service-subtitle {
    width: 80%;
    color: var(--color-dark);
    font-family: var(--font-playfair-italic);
    font-size: 1.9rem;
    margin: 3rem auto;
    text-align: center;
}

.service-container {
    width: 90%;
    min-height: 50vh;
    margin: 3rem auto;
    max-width: 1200rem;

}


.mySwiper-services {
    width: 90%;
    height: 50vh;
    overflow: visible;
    padding-bottom: 3rem;

    @media (min-width: 640px) {
        overflow: hidden;
        height: 60vh;
    }

    @media (min-width: 860px) {
        height: 70vh;
        max-height: 60rem;
    }


}

.slide-service {
    width: 90%;
    box-shadow: 0 1rem 1rem rgba(var(--color-senary-rgb), .5);
    border-radius: 5rem;
    overflow: hidden;

    @media (min-width: 640px) {
        width: 80%;
    }

    @media (min-width: 768px) {
        width: 70%;
        max-width: 61rem;
    }

    figure {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: 0 .8rem 1.6rem rgba(var(--color-senary-rgb), .5);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }


    &:hover {
        figure {

            filter: blur(.2rem);
        }

        .slide-title {
            bottom: 0 !important;
            height: 100% !important;
            background-color: rgba(var(--color-quinary-rgb), 0.5);
            display: flex;
            align-items: center;
            font-size: 3.5rem;
            justify-content: center;

            p {
                visibility: visible;
                border-bottom: .2rem solid var(--color-secondary);
            }
        }
    }

}

.slide-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
    color: var(--color-white);
    font-family: var(--font-playfair-boldItalic);

    text-shadow: 1rem .5rem 0 var(--color-quinary);
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 8rem;
    background-color: rgba(var(--color-quinary-rgb), 0.4);

    transition: height 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    cursor: pointer;

    a {
        font-size: 3rem !important;
    }

    p {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: fit-content;
        margin-top: 1rem;
        font-size: 2rem;
        border-bottom: .1rem solid transparent;
        visibility: hidden;
    }
}