.service-wedding-info {
    min-height: 50vh;
    /* width: 90%; */
    /* margin: 5rem auto; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: rgba(var(--color-secondary-rgb), .4);
    border-radius: .3rem;

    /* @media (min-width: 1024px) {
        width: 80%;
    } */


    article {
        h4 {
            font-family: var(--font-playfair-boldItalic);
            text-shadow: .1rem 0 0 var(--color-senary);

            font-size: 2.5rem;

        }

        p {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            color: var(--color-quinary);
        }

        strong {
            color: var(--color-senary);
        }
    }
}