.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.t-d-show {
    display: block;
}

.t-d-none {
    display: none;
}



.t-100vh {
    min-height: 100vh;
}

/* .form-input {
    display: flex;
    align-items: center;

    svg {
        display: inline-block;
        background-color: var(--color-quinary);
        padding: 1rem .7rem;
        border-radius: .4rem
    }
} */

.t-input {
    label {
        display: block;
        font-size: 2rem;
        font-family: var(--font-playfair-boldItalic);

        span {
            color: rgb(126, 14, 14);
            font-size: 2.5rem;
        }
    }

    input {
        display: block;
        font-size: 1.6rem;
        background-color: var(--color-quaternary);
        padding: 1rem .7rem;
        border-radius: .4rem;
        width: 100%;

    }

    input[type="checkbox"] {
        width: 2rem !important;
        height: 2rem !important;
        margin: 0;
        padding-bottom: 0;
    }

    select {
        width: fit-content;
        padding: 1rem;
        font-size: 1.6rem;
        background-color: var(--color-quaternary) !important;
        border-radius: .4rem;
        color: rgba(var(--color-quinary-rgb), .8);
        /* border-bottom: .5rem solid var(--color-quaternary); */
    }

    option {
        font-family: var(--font-playfair-boldItalic);
        font-size: 1.4rem;
        background-color: rgba(var(--color-secondary-rgb), .5);

        &:hover {
            background-color: rgba(var(--color-quinary-rgb), .5) !important;
        }

        &:checked {
            background-color: rgba(var(--color-quinary-rgb), .5) !important;
            color: var(--color-primary);
        }
    }

    textarea {
        background-color: var(--color-quaternary) !important;
        width: 100%;
        height: 15rem;
        resize: vertical;
        padding: 1rem;
        font-size: 1.3rem;
        border-radius: .4rem;
        margin-bottom: 2rem;
    }

}


.t-padding-header {
    padding-top: 9rem;

    @media (min-width: 1024px) {
        padding-top: 9.5rem;
    }
}

.t-page-titles {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2.8rem;
    font-family: var(--font-playfair-boldItalic);


    @media (min-width: 992px) {
        font-size: 3.2rem;
    }
}