.tab-component {
    margin: 2rem auto 0 auto;



}

/* clase de la libreria */
.ac-tab-header {
    margin-top: 2rem !important;
    padding: 1rem 0 !important;

    li button {
        font-size: 1.7rem !important;
        font-family: var(--font-playfair-boldItalic) !important;

    }
}

.ac-tab-button[data-astro-cid-pqx6d22p] {
    &[aria-selected=true] {
        border-color: rgb(var(--color-senary-rgb));
        color: rgb(var(--color-senary-rgb));
        font-weight: var(--ac-font-medium);

    }
}

.ac-tab-button[data-astro-cid-pqx6d22p] {
    &[data-astro-cid-pqx6d22p]:hover {
        border-radius: .5rem;
        background-color: rgb(var(--color-senary-rgb), .2);
        border: none;
        color: var(--color-primary);

    }
}