---
import albumImage from '@assets/img/deliverables/album.jpg';
import photoFrameImage from '@assets/img/deliverables/photo-frame.jpg';
import socialMediaImage from '@assets/img/deliverables/social-media.jpg';
import usbImage from '@assets/img/deliverables/usb.jpg';
import comercialImage from '@assets/img/deliverables/comercial.jpg';
import emptyImage from '@assets/img/generic/services-menu.jpg';
import { Image } from 'astro:assets';

interface DeliverableItem {
    img: {
        alt: string;
        name: string; // nombre de imagen tal cual como en src>assets>img>deliverables
    };
    listDescription: string[];
}
interface Props {
    detailsInfo?: string[];
    deliverableDetails?: DeliverableItem[];
}

const { detailsInfo, deliverableDetails } = Astro.props;

const images = {
    comercial: comercialImage,
    album: albumImage,
    photoFrame: photoFrameImage,
    socialMedia: socialMediaImage,
    usb: usbImage
};

---

<!-- DETAILS DELIVERABLES -->{
    deliverableDetails && deliverableDetails.length > 0 && (
        <section class="service-container-extras">
            <h3>Entregables</h3>
            <div class="services-extras">
                {deliverableDetails.map((deliverable: DeliverableItem) => {
                    return (
                        <figure>
                            <Image
                                src={
                                    deliverable.img.name
                                        ? images[deliverable.img.name as keyof typeof images]
                                        : emptyImage
                                }
                                alt={
                                    deliverable.img.alt ||
                                    "Imagen meramente ilustrativa"
                                }
                                loading={'lazy'}
                            />
                            <figcaption>
                                <ul>

                                {deliverable.listDescription.map((desc) => (
                                    <li><svg xmlns="http://www.w3.org/2000/svg" height="10" width="10" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="#865eeb" d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM320 224C373 224 416 267 416 320C416 373 373 416 320 416C267 416 224 373 224 320C224 267 267 224 320 224z"/></svg><p>{desc}</p></li>
                                ))}
                                </ul>
                            </figcaption>
                        </figure>
                    );
                })}
            </div>
        </section>
    )
}

<!-- DETAILS DESCRIPTION SECTION -->{
    detailsInfo && detailsInfo.length > 0 && (
        <section class="services-details" data-aos="fade-left">
            <h3>Detalles</h3>
            <ul class="services-details__ul">
                {detailsInfo.map((detail:string) => (
                    <li>
                        <figure>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="18"
                                width="18"
                                viewBox="0 0 640 640"
                            >
                                <path
                                    fill="#865ef5"
                                    d="M192 128C192 92.7 220.7 64 256 64L576 64C611.3 64 640 92.7 640 128L640 352C640 387.3 611.3 416 576 416L256 416C220.7 416 192 387.3 192 352L192 128zM320 160C320 142.3 305.7 128 288 128C270.3 128 256 142.3 256 160C256 177.7 270.3 192 288 192C305.7 192 320 177.7 320 160zM476.5 171.5C472.1 164.4 464.4 160 456 160C447.6 160 439.9 164.4 435.5 171.5L381.5 259.8L363.6 234.2C359.1 227.8 351.8 224 343.9 224C336 224 328.7 227.8 324.2 234.2L268.2 314.2C263.1 321.5 262.4 331.1 266.6 339C270.8 346.9 279.1 352 288 352L544 352C552.7 352 560.7 347.3 564.9 339.7C569.1 332.1 569 322.9 564.4 315.4L476.4 171.4zM144 192L144 352C144 413.9 194.1 464 256 464L448 464L448 480C448 515.3 419.3 544 384 544L64 544C28.7 544 0 515.3 0 480L0 256C0 220.7 28.7 192 64 192L144 192zM52 260L52 284C52 292.8 59.2 300 68 300L92 300C100.8 300 108 292.8 108 284L108 260C108 251.2 100.8 244 92 244L68 244C59.2 244 52 251.2 52 260zM68 340C59.2 340 52 347.2 52 356L52 380C52 388.8 59.2 396 68 396L92 396C100.8 396 108 388.8 108 380L108 356C108 347.2 100.8 340 92 340L68 340zM68 436C59.2 436 52 443.2 52 452L52 476C52 484.8 59.2 492 68 492L92 492C100.8 492 108 484.8 108 476L108 452C108 443.2 100.8 436 92 436L68 436z"
                                />
                            </svg>
                            <figcaption>
                                <p>{detail}</p>
                            </figcaption>
                        </figure>
                    </li>
                ))}
            </ul>
        </section>
    )
}
