---
import "@styles/components/footer.css";
---

<footer>
    <div class="footer-info" data-aos="fade-left">
        <figure class="footer-logo">
            <img src="/img/logo-white.png" alt="" />
        </figure>

        <p class="footer-bann">Visita nuestras redes sociales</p>

        <ul class="footer-social">
            <li>
                <a
                    href="https://www.facebook.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestra página de Facebook"
                >
                    <img
                        src="/img/facebook.png"
                        alt="Facebook"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestra página de Instagram"
                >
                    <img
                        src="/img/instagram.png"
                        alt="Instagram"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.twitter.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestro perfil de Twitter/X"
                >
                    <img
                        src="/img/twitter.png"
                        alt="Twitter"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.tiktok.com/@tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestro perfil de TikTok"
                >
                    <img
                        src="/img/tiktok.png"
                        alt="TikTok"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
        </ul>
    </div>

    <div class="copy">
        <p class="copy-reserved">
            &copy; 2024 Trinidad Photo Studio. All rights reserved.
        </p>
        <nav class="copy-politics">
            <ul>
                <li><a href="/aviso-legal">Aviso legal</a></li>
                <li><a href="/cookies">Política de cookies</a></li>
                <li><a href="/privacidad">Política de privacidad</a></li>
            </ul>
        </nav>
    </div>
</footer>
